RTSP_URL=rtsp://USER:PASSWORD@IP:554/stream1
AI_RTSP_URL=
WEBRTC_URL=https://rtc.loty.click/stream.html?src=cam

ONVIF_URL=http://IP:PORT/onvif/device_service
ONVIF_USERNAME=user
ONVIF_PASSWORD=pass
ONVIF_PROFILE_TOKEN=
ONVIF_AUTH_MODE=wsse

AI_ENABLED=false
AI_HOME_PRESET_TOKEN=
AI_RECORDINGS_DIR=recordings
AI_CAMERA_SETTLE_MS=1200
AI_PRESET_SETTLE_MS=3000
